/* stylelint-disable alpha-value-notation */
.home-body {
  position: relative;
  width: 100%;

  .home-background-image {
    position: absolute;
    top: -64px;
    z-index: -1;
    width: 100%;
    height: 700px;
    overflow: hidden;

    img {
      width: 100%;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(rgb(250 250 250 / 0) 0, #fff 80%);
    }
  }

  .home-wrapper {
    margin-bottom: 64px;

    .home-content {
      display: block;
      width: 810px;
      max-width: 100%;
      padding: 64px;
      margin: 64px auto;
      text-align: center;
      background: #fff;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 2px 2px 6px rgb(0 0 0 /  40%);

      //   @include mq ('tab') {
      //     width: 600px;
      //   }

      //   @include mq ('sp') {
      //     width: 350px;
      //     padding: 22px 12px;
      //   }
    }

    img {
      margin-bottom: 12px;
    }

    .title {
      margin-bottom: 12px;
      font-size: 32px;
      font-weight: 700;

      //   @include mq ('tab') {
      //     font-size: 24px;
      //   }
    }

    .description {
      margin-bottom: 12px;
      font-size: 24px;

      //   @include mq ('tab') {
      //     font-size: 18px;
      //   }
    }

    .home-buttons {
      // margin: 0 auto;
      // text-align: center;
      display: flex;
      justify-content: center;

      //   @include mq ('sp') {
      //     flex-direction: column;
      //   }

      a {
        max-width: 100%;
        color: #fff;
        text-decoration: none;

        // @include mq ('tab') {
        //   display: block;
        //   margin: 0 auto;
        // }
      }

      .link-button {
        // margin-right: 32px;
        display: block;
        width: 300px;
        padding: 22px 24px;
        margin-right: 32px;
        margin-bottom: 48px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background-color: steelblue;
        border: 2px solid steelblue;
        border-radius: 8px;
        box-shadow: 0 3px 6px gray;
        transition: all 0.15s ease 0s;

        // @include mq ('tab') {
        //   // margin-right: 0;
        //   // margin-bottom: 24px;
        //   width: 200px;
        //   font-size: 18px;
        // }

        // @include mq ('sp') {
        //   width: 200px;
        //   margin-right: 0;
        //   margin-bottom: 24px;
        // }
      }

      .try-button {
        margin-right: 0;
      }
    }
  }
}
