.display-none {
  display: none;
}

.form-field-item-title {
  margin-top: 24px;
  font-size: 24px;
  color: #16191f;
}

.form-field-item-description {
  margin: 0 0 6px;
}

.form-field-item-input {
  width: 100%;
}

.tree-height-field-items {
  display: flex;
}

.tree-height-field-items .form-field-item-title {
  margin-top: 10px;
  margin-right: 12px;
}

.tree-height-field-items .form-field-item-input {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 12px;
}

.tree-height-field-items .form-field-item-input:last-child {
  margin-right: 0;
}

.management-field-items {
  display: flex;
  flex-wrap: wrap;
}

.management-field-items .form-field-item {
  width: calc((100% - 24px) / 2);
  margin-right: 0;
}

.management-field-items .form-field-item:nth-child(3), .management-field-items .form-field-item:nth-child(8) {
  width: 100%;
}

.management-field-items .form-field-item:nth-child(1), .management-field-items .form-field-item:nth-child(4), .management-field-items .form-field-item:nth-child(6), .management-field-items .form-field-item:nth-child(9), .management-field-items .form-field-item:nth-child(11) {
  margin-right: 24px;
}

.price-field-items,
.diamter-field-items {
  display: flex;
}

.price-field-items .table-title,
.diamter-field-items .table-title {
  width: 135px;
}

.price-field-items .form-field-item-input,
.diamter-field-items .form-field-item-input {
  width: calc((100% - 135px) / 11);
}

.price-field-items fieldset,
.diamter-field-items fieldset {
  border-radius: 0;
}

.alert {
  margin-top: 6px;
}
