.sdmd-katexs-items {
  margin-top: 12px;
}

.sdmd-katexs-items .sdmd-katex-formula {
  margin: 0 auto 24px;
}

.sdmd-katexs-items .sdmd-katex-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sdmd-katexs-items .sdmd-katex-description .explanation-item {
  margin-right: 24px;
  margin-bottom: 6px;
}
