.chart-items {
  width: auto;
  height: 600px;
  margin: 24px auto 0;
}

.chart-items .chart-axis-x-title,
.chart-items .chart-title {
  text-align: center;
}

.line-chart {
  position: relative;
  width: 100%;
  height: calc(100% - 72px);
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 12px;
  font: 10px sans-serif;
  color: #fff;
  background: #333;
  border-radius: 4px;
  box-shadow: 2px 2px 4px gray;
}

text {
  z-index: 100;
}

.grid line {
  pointer-events: none;
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispedges;
}

.grid path {
  pointer-events: none;
  stroke-width: 0;
}

.cirStyle:hover,
.dragging {
  r: 12;
  fill: #f2b705;
  stroke: #f29f05;
}
